/* Estilos generales */
body, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #F4F4F4; /* Fondo gris claro */
  color: #0E2945; /* Texto principal en azul oscuro */
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del header */
.header {
  background-color: #FFF;
  height: auto;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  flex: 0 0 auto;
}

.header-logo img {
  max-width: 150px;
  height: auto;
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header-buttons {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
  position: relative;
}

.btn {
  background-color: #0E2945;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8292A4;
}

.bar-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0E2945;
  margin: 4px 0;
  transition: 0.4s;
}

/* Estilos del menú desplegable */
.sidebar-menu {
  display: none;
  position: absolute;
  top: 50px; /* Ajustar según sea necesario */
  right: 0;
  width: 200px;
  background-color: #0E2945;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.sidebar-menu ul {
  padding: 10px;
  list-style: none;
}

.sidebar-menu li {
  font-size: 14px; /* Ajustado para mejor visibilidad */
  text-transform: capitalize;
  margin: 10px 0;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
  background-color: #8292A4;
  color: #fff;
}

.sidebar-menu.menu-open {
  display: block;
}

/* Estilos adicionales para el botón de cierre de sesión */
#logout-btn:hover {
  background-color: #ff4c4c;
  color: white;
}

/* Estilos del footer */
.footer {
  background-color: #FFF;
  padding: 20px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  margin-top: -120px;
  margin-left: 1100px;
  max-width: 150px;
  height: auto;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: -20px;
  border-top: 1px solid #8292A4;
  padding-top: 10px;
}

#usrLogedPfp {
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  background-color: #0E2945;
  color: white;
  cursor: pointer;
  margin: 0 2em 0 -7em;
  width: 10em;
}

#usrLogedPfp img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}